.containerDivDetail {
    background-color: transparent;
    padding: 20px;
}
  
.linkDetail {
    text-decoration: none;
    color: #8c00ff;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 6px 10px;
    background-color: #ffdf80;
    transition: all 700ms;
    border-radius: 8px;
}
.linkDetail:hover{
    background-color: #8c00ff;
    color: #ffdf80;
}

  
.divDetail {
    /* background-color: #c2c2d6; */
    background-color: #ff8d809d;
    padding: 20px;
    border: 1px solid #8c00ff;
    border-radius: 25px;
    box-shadow: -4px 4px 10px 0 #000000;
}
  
.gameDiv {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
  
.title {
    font-size: 28px;
    font-weight: bold;
    color: #8c00ff;
    margin: 25px;
    padding-bottom: 20px;
    grid-area: name;
    animation: fadding 2s;
    border-bottom: 1px solid black;
    width: 90%;
    text-align: center;
}

@keyframes fadding {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
  
.img {
    height: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 2px solid #8c00ff;
    grid-area: image;
    animation: comingFromUp 2s;
    box-shadow: 0 0 10px 0.5px black;
}

@keyframes comingFromUp {
    from{
        transform: translateY(-400px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
  
.divData {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-self: start;
    animation: comingFromRight 2s;
}

@keyframes comingFromRight {
    from{
        transform: translateX(700px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
  
.genre {
    background-color: #ffc600;
    color: #8c00ff;
    padding: 4px 8px;
    border-radius: 4px;
    grid-area: genres;
    cursor: default;
}
  
.platform {
    background-color: #8c00ff;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    grid-area: platforms;
    cursor: default;
}
  
.description {
    margin: 20px 0;
    position: relative;
    cursor: default;
    text-shadow: 1px 0px 2px white;
    font-size: 20px;
}
  
.btnDetail {
    background-color: #ffc600;
    color: #8c00ff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    animation: fadding 1.5s;
}

.btnDetail:hover{
    background-color: #fccb1c;
}
  
#text {
    font-size: 18px;
}
  
.typing-animation #text {
    display: inline;
}
  
.date, .rating {
    margin-bottom: 10px;
    cursor: default;
    text-shadow: 1px 0px 2px white;
    font-size: 20px;
    font-weight: 500;
    animation: fadding 1s;
}

.divTitleImage{
    display: grid;
    grid-template-areas:
    "name name"
    "image genres"
    "image platforms";
    align-items: center;
    justify-items: center;
    column-gap: 20px;
}
.genresPlat{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 1px 3px white;
    position: absolute;
    top: -45px;
}