.link {
  display: inline-block;
  color: #ffcc00;
  text-decoration: none;
  margin-bottom: 10px;
  z-index: 150;
  background: #000;
}

.linkError {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.divError {
  padding: 20px;
  text-align: center;
}

.errorText {
  font-size: 25px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.errorContainer {
  margin: 90px auto;
  padding: 20px;
  width: 80%;
  background-color: #8c00ff;
  box-shadow: 0 0 4px 1px black;
}
