.btnsPagination{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 20px;
}
.pagination{
    display: flex;
    gap: 5px;
}

.btnsPagination button{
    border: 1px solid #202020;
    background: #8c00ff;
    color: #ffc600;
    padding: 4px 10px;
    font-size: 20px;
    font-family: 'VT323', monospace;
}

.btnsPagination button:hover{
    background: #ffc600;
    color: #8c00ff;
}

.divFilters{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 14px auto;
    background: #8c00ff;
    padding: 0 17px;
    justify-content: center;
    border-radius: 5px;
}

.select{
    font-family: 'VT323', monospace;
    font-size: 16px;
    padding: 3px 6px;
    font-weight: bold;
    text-transform: uppercase;
}